@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #3a3a3a;
}

/* heading and logo */

.header {
    background-color: #43526A;
    height: 75px;


}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ebe5e5;

}

#logo {
    float: left;
    font-size: 220%;
    margin-left: 20px;
}

/* navigation and links */



#nav {
    font-size: 110%;
    letter-spacing: 2px;

}

#nav,
#logo {
    line-height: 75px;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav a {
    text-decoration: none;
    color: #ebe5e5;
}

#nav a:hover {
    border-bottom: 1px solid #e8e5e5;
}


.active {
    border-bottom: 1px solid #e8e5e5;
}

/* hero image */

#hero-outer {
    height: 460px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: rgb(0, 0, 0);
}

#hero-image {
    height: 460px;
    width: 100%;
    background: url(../images/foods.jpg) no-repeat center center;

    /* animation zoom effect on loading page*/

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creats the lvl of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 80%;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 500px;
    height: 120px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, .7);
    bottom: 30px;
    right: 150px;
    position: absolute;

}

/* opening header */

#opening-header {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

#opening-header>h2 {
    font-size: 35px;
}

#opening-header>p {
    font-size: 20px;
}

/*about food*/

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#food-text {
    padding: 0px 40px;
}

.about-food {
    width: 80%;
    margin: 80px auto;
}

.text-col {
    width: 40%;
}

.image-col {
    width: 60%;
}


.about-food .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.image-gallery>img {
    max-width: 300px;
    margin: 10px;


}

.text-col>h2 {
    font-size: 35px;
}

#food-text {
    padding: 0;
    margin: 30px auto;
}

/* famous cuisines */



.cuisines {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
}

.cuisines h2 {
    font-size: 50px;
    margin-bottom: 20px;

}

.cuisine-item {
    display: inline-block;
    width: 300px;
    margin: 20px;
}

.cuisine-item img {
    width: 300px;
    height: 250px;
    border-radius: 8px;
}

.cuisine-item h3 {
    margin: 10px 0 5px 0;

}

/* about us  */



#aboutus-image-outer {
    height: 300px;
    width: 100%;
    background-size: cover;
}



#aboutus-image {
    height: 300px;
    width: 100%;
    background: url(../images/meal.jpg) no-repeat center center;
    background-size: cover;


}

.aboutus-container>h1 {
    color: #43526A;
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;

}

.aboutus-container>p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.aboutus-container {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 40px;
}

/* contact us */

.contact-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 78px;
    padding-bottom: 78px;
}

.contact-info {
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i {
    margin-right: 20px;
    font-size: 25px;
}

.contact-form {
    max-width: 700px;
    margin-right: 50px;
}

.contact-info,
.contact-form {
    flex: 1;
}

.contact-form h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-input {
    background: #abbdda;
    color: #3a3a3a;
    border: 1px solid #fff;
    width: 335px;
    height: 50px;
    padding: 20px;
    font-size: 15px;
    border-radius: 7px;
    margin-bottom: 20px;


}

.contact-form .text-input:hover {
    border-color: #669bf0;
}

input::placeholder {
    color: #3a3a3a;
}

textarea::placeholder {
    color: #3a3a3a;
}

.contact-form textarea {
    background: #abbdda;
    color: #3a3a3a;
    border: 1px solid #fff;
    width: 100%;
    padding: 20px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 7px;
    margin-bottom: 20px;
}

.contact-form textarea:hover {
    border-color: #669bf0;
}

.sent-butn {
    float: right;
    background-color: #669bf0;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 7px;
    cursor: pointer;



}

.sent-butn:hover {
    background-color: #528eef;
    color: #fafafa;
}

/* footer */

footer {
    background-color: #43526A;
}

#footer-container {
    width: 100%;
    padding-top: 12px;
}

#social-icons {
    display: flex;
    justify-content: center;
}

#social-icons>a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;

}

#social-icons a i {
    font-size: 32px;
    color: #43526A;

}

/*hover on social media icons*/
#social-icons a:hover {
    background-color: #43526A;
    transition: 0.5s;
}

#social-icons a:hover i {
    color: white;
    transition: 0.5s;
}




/* footer text */

#footer-text {
    text-align: center;
}

#footer-text>p {
    color: white;
}